{% extends "base.html" %}
{% block title %}Estadísticas{% endblock %}

{% block body %}
    <h1>Estadísticas</h1>
    <h2>Cantidad de actividades por día:</h2>
    <img src="{{ url_for('static', filename='images/stats/chart1.jpg') }}" alt="gráfico de barras sobre la cantidad de actividades por día">

    <h2>Total de actividades por tipo:</h2>
    <img src="{{ url_for('static', filename='images/stats/chart2.jpg') }}" alt="gráfico de torta con el total de actividades por tipo">

    <h2>Distribución de las actividades mensuales según momento del día:</h2>
    <img src="{{ url_for('static', filename='images/stats/chart3.jpg') }}" alt="gráfico de barras de las actividades mensuales según momento del día">

    <br>
    <a href="{{ url_for('index') }}" class="btn-volver">Volver al inicio</a>
{% endblock %}
